In [19]:
import pandas as pd
import zipfile
import kaggle
import os
import ydata_profiling

# Define the paths (use raw string or double backslashes)
zip_file_path = r"C:\Users\Admin\Desktop\EDA Python\archive.zip"  # Update with the correct path
extract_dir = "E-commerce_Clickstream_and_Transaction/"

# Create the extraction directory if it does not exist
os.makedirs(extract_dir, exist_ok=True)

# Extract the ZIP file
try:
    with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
        zip_ref.extractall(extract_dir)
    print("ZIP file extracted successfully.")
except FileNotFoundError as e:
    print(f"Error: {e}")
except zipfile.BadZipFile as e:
    print(f"Error: The file is not a ZIP file or it is corrupted: {e}")

ZIP file extracted successfully.

In [20]:
from ydata_profiling import ProfileReport

In [33]:
df = pd.read_csv('E-commerce_Clickstream_and_Transaction\ecommerce_clickstream_transactions.csv',na_values="?")

In [22]:
profile = ProfileReport(df, title="E-commerce Clickstream and Transaction", explorative=True)

In [ ]:
profile.to_notebook_iframe()

In [34]:
print(df)

       UserID  SessionID                   Timestamp     EventType  ProductID  \
0           1          1  2024-07-07 18:00:26.959902     page_view        NaN
1           1          1  2024-03-05 22:01:00.072000     page_view        NaN
2           1          1  2024-03-23 22:08:10.568453  product_view  prod_8199
3           1          1  2024-03-12 00:32:05.495638   add_to_cart  prod_4112
4           1          1  2024-02-25 22:43:01.318876   add_to_cart  prod_3354
...       ...        ...                         ...           ...        ...
74812    1000         10  2024-05-11 22:48:45.500117      purchase  prod_1238
74813    1000         10  2024-03-29 04:09:32.514318        logout        NaN
74814    1000         10  2024-02-09 02:58:56.128697         login        NaN
74815    1000         10  2024-04-30 16:19:48.002633      purchase  prod_2515
74816    1000         10  2024-04-01 02:19:29.148727        logout        NaN

           Amount   Outcome
0             NaN       NaN
1             NaN       NaN
2             NaN       NaN
3             NaN       NaN
4             NaN       NaN
...           ...       ...
74812  186.208225  purchase
74813         NaN       NaN
74814         NaN       NaN
74815  198.757849  purchase
74816         NaN       NaN

[74817 rows x 7 columns]

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74817 entries, 0 to 74816
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   UserID     74817 non-null  int64
 1   SessionID  74817 non-null  int64
 2   Timestamp  74817 non-null  object
 3   EventType  74817 non-null  object
 4   ProductID  32113 non-null  object
 5   Amount     10682 non-null  float64
 6   Outcome    10682 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 4.0+ MB

In [36]:
df.describe()

             UserID     SessionID        Amount
count  74817.000000  74817.000000  10682.000000
mean     500.740741      5.509777    253.189758
std      288.945183      2.869337    143.043974
min        1.000000      1.000000      5.131843
25%      251.000000      3.000000    130.933965
50%      501.000000      6.000000    253.112517
75%      751.000000      8.000000    378.832078
max     1000.000000     10.000000    499.981538

In [42]:
dtypes = df.dtypes

obj_cols = dtypes[dtypes == 'object'].index
int_cols = dtypes[dtypes == 'int'].index
float_cols = dtypes[dtypes == 'float'].index

print("Objects: ",obj_cols, "\n")
print("Integers: ",int_cols, "\n")
print("Floats: ",float_cols)

Objects:  Index(['Timestamp', 'EventType', 'ProductID', 'Outcome'], dtype='object')

Integers:  Index([], dtype='object')

Floats:  Index(['Amount'], dtype='object')

In [43]:
df.isnull().sum()

UserID           0
SessionID        0
Timestamp        0
EventType        0
ProductID    42704
Amount       64135
Outcome      64135
dtype: int64

In [44]:
df.isna().sum()

UserID           0
SessionID        0
Timestamp        0
EventType        0
ProductID    42704
Amount       64135
Outcome      64135
dtype: int64

In [46]:
# Here I will replace all NaN values with empty strings
df = df.apply(lambda x: pd.Series(x.dropna().values))
print(df)

       UserID  SessionID                   Timestamp     EventType  ProductID  \
0           1          1  2024-07-07 18:00:26.959902     page_view  prod_8199
1           1          1  2024-03-05 22:01:00.072000     page_view  prod_4112
2           1          1  2024-03-23 22:08:10.568453  product_view  prod_3354
3           1          1  2024-03-12 00:32:05.495638   add_to_cart  prod_4965
4           1          1  2024-02-25 22:43:01.318876   add_to_cart  prod_2683
...       ...        ...                         ...           ...        ...
74812    1000         10  2024-05-11 22:48:45.500117      purchase        NaN
74813    1000         10  2024-03-29 04:09:32.514318        logout        NaN
74814    1000         10  2024-02-09 02:58:56.128697         login        NaN
74815    1000         10  2024-04-30 16:19:48.002633      purchase        NaN
74816    1000         10  2024-04-01 02:19:29.148727        logout        NaN

           Amount   Outcome
0       72.913619  purchase
1        7.677938  purchase
2      149.270047  purchase
3      359.589136  purchase
4      454.105277  purchase
...           ...       ...
74812         NaN       NaN
74813         NaN       NaN
74814         NaN       NaN
74815         NaN       NaN
74816         NaN       NaN

[74817 rows x 7 columns]

In [49]:
# Fill NaN values with empty strings
df = df.fillna('')

print(df) # Here we can see that NaN values are gone

       UserID  SessionID                   Timestamp     EventType  ProductID  \
0           1          1  2024-07-07 18:00:26.959902     page_view  prod_8199
1           1          1  2024-03-05 22:01:00.072000     page_view  prod_4112
2           1          1  2024-03-23 22:08:10.568453  product_view  prod_3354
3           1          1  2024-03-12 00:32:05.495638   add_to_cart  prod_4965
4           1          1  2024-02-25 22:43:01.318876   add_to_cart  prod_2683
...       ...        ...                         ...           ...        ...
74812    1000         10  2024-05-11 22:48:45.500117      purchase
74813    1000         10  2024-03-29 04:09:32.514318        logout
74814    1000         10  2024-02-09 02:58:56.128697         login
74815    1000         10  2024-04-30 16:19:48.002633      purchase
74816    1000         10  2024-04-01 02:19:29.148727        logout

           Amount   Outcome
0       72.913619  purchase
1        7.677938  purchase
2      149.270047  purchase
3      359.589136  purchase
4      454.105277  purchase
...           ...       ...
74812
74813
74814
74815
74816

[74817 rows x 7 columns]

In [50]:
df.isna().sum()

UserID       0
SessionID    0
Timestamp    0
EventType    0
ProductID    0
Amount       0
Outcome      0
dtype: int64

In [52]:
# checking if there are duplicates
df.duplicated().sum()

0

In [60]:
df.to_csv('E-commerce_Clickstream_and_Transaction\modified_cleaned_data.csv', index=False)

In [63]:
df = pd.read_csv('E-commerce_Clickstream_and_Transaction\modified_cleaned_data.csv')
print(df)

   UserID  SessionID                   Timestamp     EventType  ProductID  \
0       1          1  2024-07-07 18:00:26.959902     page_view  prod_8199
1       1          1  2024-03-05 22:01:00.072000     page_view  prod_4112
2       1          1  2024-03-23 22:08:10.568453  product_view  prod_3354
3       1          1  2024-03-12 00:32:05.495638   add_to_cart  prod_4965
4       1          1  2024-02-25 22:43:01.318876   add_to_cart  prod_2683
5       1          1  2024-01-01 23:09:51.956825     page_view  prod_5244
6       1          1  2024-02-01 05:13:26.944169   add_to_cart  prod_9640
7       1          1  2024-02-14 15:41:53.071258         login  prod_8364
8       1          1  2024-05-20 23:13:38.011189         click  prod_9851
9       1          2  2024-06-27 16:17:34.523695     page_view  prod_6426

       Amount   Outcome
0   72.913619  purchase
1    7.677938  purchase
2  149.270047  purchase
3  359.589136  purchase
4  454.105277  purchase
5   35.606156  purchase
6  457.627967  purchase
7  459.338640  purchase
8  262.523699  purchase
9  199.356969  purchase

In [64]:
df.isna().sum()

UserID       0
SessionID    0
Timestamp    0
EventType    0
ProductID    0
Amount       0
Outcome      0
dtype: int64

In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [66]:
df = pd.read_csv('E-commerce_Clickstream_and_Transaction\modified_cleaned_data.csv')

In [67]:
df.head()
df.info()
df.describe()
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   UserID     10 non-null     int64
 1   SessionID  10 non-null     int64
 2   Timestamp  10 non-null     object
 3   EventType  10 non-null     object
 4   ProductID  10 non-null     object
 5   Amount     10 non-null     float64
 6   Outcome    10 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 692.0+ bytes
   UserID  SessionID                   Timestamp     EventType  ProductID  \
0       1          1  2024-07-07 18:00:26.959902     page_view  prod_8199
1       1          1  2024-03-05 22:01:00.072000     page_view  prod_4112
2       1          1  2024-03-23 22:08:10.568453  product_view  prod_3354
3       1          1  2024-03-12 00:32:05.495638   add_to_cart  prod_4965
4       1          1  2024-02-25 22:43:01.318876   add_to_cart  prod_2683
5       1          1  2024-01-01 23:09:51.956825     page_view  prod_5244
6       1          1  2024-02-01 05:13:26.944169   add_to_cart  prod_9640
7       1          1  2024-02-14 15:41:53.071258         login  prod_8364
8       1          1  2024-05-20 23:13:38.011189         click  prod_9851
9       1          2  2024-06-27 16:17:34.523695     page_view  prod_6426

       Amount   Outcome
0   72.913619  purchase
1    7.677938  purchase
2  149.270047  purchase
3  359.589136  purchase
4  454.105277  purchase
5   35.606156  purchase
6  457.627967  purchase
7  459.338640  purchase
8  262.523699  purchase
9  199.356969  purchase

In [68]:
df.head()

,UserID,SessionID,Timestamp,EventType,ProductID,Amount,Outcome
0,1,1,2024-07-07 18:00:26.959902,page_view,prod_8199,72.913619,purchase
1,1,1,2024-03-05 22:01:00.072000,page_view,prod_4112,7.677938,purchase
2,1,1,2024-03-23 22:08:10.568453,product_view,prod_3354,149.270047,purchase
3,1,1,2024-03-12 00:32:05.495638,add_to_cart,prod_4965,359.589136,purchase
4,1,1,2024-02-25 22:43:01.318876,add_to_cart,prod_2683,454.105277,purchase

Creating New Features

In [70]:
# Creating new feature: Convert the Timestamp to a datetime object and extract time-based features.
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

In [71]:
# Extract date and time features
df['Year'] = df['Timestamp'].dt.year
df['Month'] = df['Timestamp'].dt.month
df['Day'] = df['Timestamp'].dt.day
df['Hour'] = df['Timestamp'].dt.hour
df['Minute'] = df['Timestamp'].dt.minute
df['Second'] = df['Timestamp'].dt.second

In [72]:
# Extract day of the week and whether the timestamp is on a weekend
df['DayOfWeek'] = df['Timestamp'].dt.dayofweek
df['IsWeekend'] = df['DayOfWeek'].apply(lambda x: 1 if x >= 5 else 0)

In [ ]:
# User-Based Features
df['UserSessionCount'] = df.groupby(['UserID', 'SessionID']).transform('nunique')
df['UserTotalAmount'] = df.groupby('UserID')['Amount'].transform('sum')
df['UserAvgAmountPerSession'] = df['UserTotalAmount'] / df['UserSessionCount']
df['UserEventCount'] = df.groupby('UserID')['EventType'].transform('count')

In [82]:
# Number of events per session
df['SessionEventCount'] = df.groupby('SessionID')['EventType'].transform('count')

# Total amount spent per session
df['SessionTotalAmount'] = df.groupby('SessionID')['Amount'].transform('sum')

# Average amount spent per event in a session
df['SessionAvgAmountPerEvent'] = df['SessionTotalAmount'] / df['SessionEventCount']

# Duration of session (time difference between first and last event in the session)
df['SessionStartTime'] = df.groupby('SessionID')['Timestamp'].transform('min')
df['SessionEndTime'] = df.groupby('SessionID')['Timestamp'].transform('max')
df['SessionDuration'] = (df['SessionEndTime'] - df['SessionStartTime']).dt.total_seconds()

In [83]:
#Product Based Features
# Number of times a product has been viewed or purchased
df['ProductEventCount'] = df.groupby('ProductID')['EventType'].transform('count')

# Total amount spent on each product
df['ProductTotalAmount'] = df.groupby('ProductID')['Amount'].transform('sum')

# Average amount spent per event for each product
df['ProductAvgAmountPerEvent'] = df['ProductTotalAmount'] / df['ProductEventCount']

In [84]:
# Count of each event type per user
df['UserEventTypeCount'] = df.groupby(['UserID', 'EventType'])['EventType'].transform('count')

# Total amount spent per event type
df['EventTypeTotalAmount'] = df.groupby('EventType')['Amount'].transform('sum')

In [85]:
# Total amount spent for each outcome type
df['OutcomeTotalAmount'] = df.groupby('Outcome')['Amount'].transform('sum')

# Average amount spent for each outcome type
df['OutcomeAvgAmount'] = df.groupby('Outcome')['Amount'].transform('mean')

# Count of events resulting in each outcome
df['OutcomeEventCount'] = df.groupby('Outcome')['EventType'].transform('count')

In [86]:
# Number of sessions and total amount spent per user per outcome
df['UserOutcomeSessionCount'] = df.groupby(['UserID', 'Outcome'])['SessionID'].transform('nunique')
df['UserOutcomeTotalAmount'] = df.groupby(['UserID', 'Outcome'])['Amount'].transform('sum')

# Total number of events and total amount spent per product per outcome
df['ProductOutcomeEventCount'] = df.groupby(['ProductID', 'Outcome'])['EventType'].transform('count')
df['ProductOutcomeTotalAmount'] = df.groupby(['ProductID', 'Outcome'])['Amount'].transform('sum')

In [87]:
# Save the updated DataFrame to a new CSV file
df.to_csv('E-commerce_Clickstream_and_Transaction/feature_engineered_data.csv', index=False)

Summary of New Features:

Time-Based Features: Year, Month, Day, Hour, Minute, Second, DayOfWeek, IsWeekend
User-Based Features: UserSessionCount, UserTotalAmount, UserAvgAmountPerSession, UserEventCount
Session-Based Features: SessionEventCount, SessionTotalAmount, SessionAvgAmountPerEvent, SessionDuration
Product-Based Features: ProductEventCount, ProductTotalAmount, ProductAvgAmountPerEvent
Event-Based Features: UserEventTypeCount, EventTypeTotalAmount
Outcome-Based Features: OutcomeTotalAmount, OutcomeAvgAmount, OutcomeEventCount
Aggregate Features: UserOutcomeSessionCount, UserOutcomeTotalAmount, ProductOutcomeEventCount, ProductOutcomeTotalAmount

In [88]:
df = pd.read_csv('E-commerce_Clickstream_and_Transaction/feature_engineered_data.csv')

Data Transformation

In [90]:
df.head()
df.info()
df.describe()
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   UserID                     10 non-null     int64
 1   SessionID                  10 non-null     int64
 2   Timestamp                  10 non-null     object
 3   EventType                  10 non-null     object
 4   ProductID                  10 non-null     object
 5   Amount                     10 non-null     float64
 6   Outcome                    10 non-null     object
 7   Year                       10 non-null     int64
 8   Month                      10 non-null     int64
 9   Day                        10 non-null     int64
 10  Hour                       10 non-null     int64
 11  Minute                     10 non-null     int64
 12  Second                     10 non-null     int64
 13  DayOfWeek                  10 non-null     int64
 14  IsWeekend                  10 non-null     int64
 15  SessionEventCount          10 non-null     int64
 16  SessionTotalAmount         10 non-null     float64
 17  SessionAvgAmountPerEvent   10 non-null     float64
 18  SessionStartTime           10 non-null     object
 19  SessionEndTime             10 non-null     object
 20  SessionDuration            10 non-null     float64
 21  ProductEventCount          10 non-null     int64
 22  ProductTotalAmount         10 non-null     float64
 23  ProductAvgAmountPerEvent   10 non-null     float64
 24  UserEventTypeCount         10 non-null     int64
 25  EventTypeTotalAmount       10 non-null     float64
 26  OutcomeTotalAmount         10 non-null     float64
 27  OutcomeAvgAmount           10 non-null     float64
 28  OutcomeEventCount          10 non-null     int64
 29  UserOutcomeSessionCount    10 non-null     int64
 30  UserOutcomeTotalAmount     10 non-null     float64
 31  ProductOutcomeEventCount   10 non-null     int64
 32  ProductOutcomeTotalAmount  10 non-null     float64
dtypes: float64(11), int64(16), object(6)
memory usage: 2.7+ KB
   UserID  SessionID                   Timestamp     EventType  ProductID  \
0       1          1  2024-07-07 18:00:26.959902     page_view  prod_8199
1       1          1  2024-03-05 22:01:00.072000     page_view  prod_4112
2       1          1  2024-03-23 22:08:10.568453  product_view  prod_3354
3       1          1  2024-03-12 00:32:05.495638   add_to_cart  prod_4965
4       1          1  2024-02-25 22:43:01.318876   add_to_cart  prod_2683
5       1          1  2024-01-01 23:09:51.956825     page_view  prod_5244
6       1          1  2024-02-01 05:13:26.944169   add_to_cart  prod_9640
7       1          1  2024-02-14 15:41:53.071258         login  prod_8364
8       1          1  2024-05-20 23:13:38.011189         click  prod_9851
9       1          2  2024-06-27 16:17:34.523695     page_view  prod_6426

       Amount   Outcome  Year  Month  Day  ...  ProductAvgAmountPerEvent  \
0   72.913619  purchase  2024      7    7  ...                 72.913619
1    7.677938  purchase  2024      3    5  ...                  7.677938
2  149.270047  purchase  2024      3   23  ...                149.270047
3  359.589136  purchase  2024      3   12  ...                359.589136
4  454.105277  purchase  2024      2   25  ...                454.105277
5   35.606156  purchase  2024      1    1  ...                 35.606156
6  457.627967  purchase  2024      2    1  ...                457.627967
7  459.338640  purchase  2024      2   14  ...                459.338640
8  262.523699  purchase  2024      5   20  ...                262.523699
9  199.356969  purchase  2024      6   27  ...                199.356969

   UserEventTypeCount  EventTypeTotalAmount  OutcomeTotalAmount  \
0                   4            315.554682         2458.009448
1                   4            315.554682         2458.009448
2                   1            149.270047         2458.009448
3                   3           1271.322380         2458.009448
4                   3           1271.322380         2458.009448
5                   4            315.554682         2458.009448
6                   3           1271.322380         2458.009448
7                   1            459.338640         2458.009448
8                   1            262.523699         2458.009448
9                   4            315.554682         2458.009448

   OutcomeAvgAmount  OutcomeEventCount  UserOutcomeSessionCount  \
0        245.800945                 10                        2
1        245.800945                 10                        2
2        245.800945                 10                        2
3        245.800945                 10                        2
4        245.800945                 10                        2
5        245.800945                 10                        2
6        245.800945                 10                        2
7        245.800945                 10                        2
8        245.800945                 10                        2
9        245.800945                 10                        2

   UserOutcomeTotalAmount ProductOutcomeEventCount ProductOutcomeTotalAmount
0             2458.009448                        1                 72.913619
1             2458.009448                        1                  7.677938
2             2458.009448                        1                149.270047
3             2458.009448                        1                359.589136
4             2458.009448                        1                454.105277
5             2458.009448                        1                 35.606156
6             2458.009448                        1                457.627967
7             2458.009448                        1                459.338640
8             2458.009448                        1                262.523699
9             2458.009448                        1                199.356969

[10 rows x 33 columns]

In [91]:
df.describe()

,UserID,SessionID,Amount,Year,Month,Day,Hour,Minute,Second,DayOfWeek,...,ProductAvgAmountPerEvent,UserEventTypeCount,EventTypeTotalAmount,OutcomeTotalAmount,OutcomeAvgAmount,OutcomeEventCount,UserOutcomeSessionCount,UserOutcomeTotalAmount,ProductOutcomeEventCount,ProductOutcomeTotalAmount
count,10.0,10.000000,10.000000,10.0,10.00000,10.000000,10.000000,10.00000,10.00000,10.000000,...,10.000000,10.000000,10.000000,10.000000,1.000000e+01,10.0,10.0,10.000000,10.0,10.000000
mean,1.0,1.100000,245.800945,2024.0,3.40000,13.500000,16.600000,17.70000,24.40000,2.700000,...,245.800945,2.800000,594.731825,2458.009448,2.458009e+02,10.0,2.0,2458.009448,1.0,245.800945
std,0.0,0.316228,179.300131,0.0,1.95505,9.868581,8.058122,15.61374,19.81694,2.311805,...,179.300131,1.316561,472.841716,0.000000,2.995911e-14,0.0,0.0,0.000000,0.0,179.300131
min,1.0,1.000000,7.677938,2024.0,1.00000,1.000000,0.000000,0.00000,0.00000,0.000000,...,7.677938,1.000000,149.270047,2458.009448,2.458009e+02,10.0,2.0,2458.009448,1.0,7.677938
25%,1.0,1.000000,92.002726,2024.0,2.00000,5.500000,15.250000,8.25000,6.25000,1.000000,...,92.002726,1.500000,315.554682,2458.009448,2.458009e+02,10.0,2.0,2458.009448,1.0,92.002726
50%,1.0,1.000000,230.940334,2024.0,3.00000,13.000000,20.000000,13.00000,26.00000,2.500000,...,230.940334,3.000000,315.554682,2458.009448,2.458009e+02,10.0,2.0,2458.009448,1.0,230.940334
75%,1.0,1.000000,430.476241,2024.0,4.50000,22.250000,22.000000,28.25000,37.00000,4.500000,...,430.476241,4.000000,1068.326445,2458.009448,2.458009e+02,10.0,2.0,2458.009448,1.0,430.476241
max,1.0,2.000000,459.338640,2024.0,7.00000,27.000000,23.000000,43.00000,53.00000,6.000000,...,459.338640,4.000000,1271.322380,2458.009448,2.458009e+02,10.0,2.0,2458.009448,1.0,459.338640

In [92]:
print(df.describe())

       UserID  SessionID      Amount    Year     Month        Day       Hour  \
count    10.0  10.000000   10.000000    10.0  10.00000  10.000000  10.000000
mean      1.0   1.100000  245.800945  2024.0   3.40000  13.500000  16.600000
std       0.0   0.316228  179.300131     0.0   1.95505   9.868581   8.058122
min       1.0   1.000000    7.677938  2024.0   1.00000   1.000000   0.000000
25%       1.0   1.000000   92.002726  2024.0   2.00000   5.500000  15.250000
50%       1.0   1.000000  230.940334  2024.0   3.00000  13.000000  20.000000
75%       1.0   1.000000  430.476241  2024.0   4.50000  22.250000  22.000000
max       1.0   2.000000  459.338640  2024.0   7.00000  27.000000  23.000000

         Minute    Second  DayOfWeek  ...  ProductAvgAmountPerEvent  \
count  10.00000  10.00000  10.000000  ...                 10.000000
mean   17.70000  24.40000   2.700000  ...                245.800945
std    15.61374  19.81694   2.311805  ...                179.300131
min     0.00000   0.00000   0.000000  ...                  7.677938
25%     8.25000   6.25000   1.000000  ...                 92.002726
50%    13.00000  26.00000   2.500000  ...                230.940334
75%    28.25000  37.00000   4.500000  ...                430.476241
max    43.00000  53.00000   6.000000  ...                459.338640

       UserEventTypeCount  EventTypeTotalAmount  OutcomeTotalAmount  \
count           10.000000             10.000000           10.000000
mean             2.800000            594.731825         2458.009448
std              1.316561            472.841716            0.000000
min              1.000000            149.270047         2458.009448
25%              1.500000            315.554682         2458.009448
50%              3.000000            315.554682         2458.009448
75%              4.000000           1068.326445         2458.009448
max              4.000000           1271.322380         2458.009448

       OutcomeAvgAmount  OutcomeEventCount  UserOutcomeSessionCount  \
count      1.000000e+01               10.0                     10.0
mean       2.458009e+02               10.0                      2.0
std        2.995911e-14                0.0                      0.0
min        2.458009e+02               10.0                      2.0
25%        2.458009e+02               10.0                      2.0
50%        2.458009e+02               10.0                      2.0
75%        2.458009e+02               10.0                      2.0
max        2.458009e+02               10.0                      2.0

       UserOutcomeTotalAmount  ProductOutcomeEventCount  \
count               10.000000                      10.0
mean              2458.009448                       1.0
std                  0.000000                       0.0
min               2458.009448                       1.0
25%               2458.009448                       1.0
50%               2458.009448                       1.0
75%               2458.009448                       1.0
max               2458.009448                       1.0

       ProductOutcomeTotalAmount
count                  10.000000
mean                  245.800945
std                   179.300131
min                     7.677938
25%                    92.002726
50%                   230.940334
75%                   430.476241
max                   459.338640

[8 rows x 27 columns]

In [93]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   UserID                     10 non-null     int64
 1   SessionID                  10 non-null     int64
 2   Timestamp                  10 non-null     object
 3   EventType                  10 non-null     object
 4   ProductID                  10 non-null     object
 5   Amount                     10 non-null     float64
 6   Outcome                    10 non-null     object
 7   Year                       10 non-null     int64
 8   Month                      10 non-null     int64
 9   Day                        10 non-null     int64
 10  Hour                       10 non-null     int64
 11  Minute                     10 non-null     int64
 12  Second                     10 non-null     int64
 13  DayOfWeek                  10 non-null     int64
 14  IsWeekend                  10 non-null     int64
 15  SessionEventCount          10 non-null     int64
 16  SessionTotalAmount         10 non-null     float64
 17  SessionAvgAmountPerEvent   10 non-null     float64
 18  SessionStartTime           10 non-null     object
 19  SessionEndTime             10 non-null     object
 20  SessionDuration            10 non-null     float64
 21  ProductEventCount          10 non-null     int64
 22  ProductTotalAmount         10 non-null     float64
 23  ProductAvgAmountPerEvent   10 non-null     float64
 24  UserEventTypeCount         10 non-null     int64
 25  EventTypeTotalAmount       10 non-null     float64
 26  OutcomeTotalAmount         10 non-null     float64
 27  OutcomeAvgAmount           10 non-null     float64
 28  OutcomeEventCount          10 non-null     int64
 29  UserOutcomeSessionCount    10 non-null     int64
 30  UserOutcomeTotalAmount     10 non-null     float64
 31  ProductOutcomeEventCount   10 non-null     int64
 32  ProductOutcomeTotalAmount  10 non-null     float64
dtypes: float64(11), int64(16), object(6)
memory usage: 2.7+ KB
None

In [95]:
print(df.head())

   UserID  SessionID                   Timestamp     EventType  ProductID  \
0       1          1  2024-07-07 18:00:26.959902     page_view  prod_8199
1       1          1  2024-03-05 22:01:00.072000     page_view  prod_4112
2       1          1  2024-03-23 22:08:10.568453  product_view  prod_3354
3       1          1  2024-03-12 00:32:05.495638   add_to_cart  prod_4965
4       1          1  2024-02-25 22:43:01.318876   add_to_cart  prod_2683

       Amount   Outcome  Year  Month  Day  ...  ProductAvgAmountPerEvent  \
0   72.913619  purchase  2024      7    7  ...                 72.913619
1    7.677938  purchase  2024      3    5  ...                  7.677938
2  149.270047  purchase  2024      3   23  ...                149.270047
3  359.589136  purchase  2024      3   12  ...                359.589136
4  454.105277  purchase  2024      2   25  ...                454.105277

   UserEventTypeCount  EventTypeTotalAmount  OutcomeTotalAmount  \
0                   4            315.554682         2458.009448
1                   4            315.554682         2458.009448
2                   1            149.270047         2458.009448
3                   3           1271.322380         2458.009448
4                   3           1271.322380         2458.009448

   OutcomeAvgAmount  OutcomeEventCount  UserOutcomeSessionCount  \
0        245.800945                 10                        2
1        245.800945                 10                        2
2        245.800945                 10                        2
3        245.800945                 10                        2
4        245.800945                 10                        2

   UserOutcomeTotalAmount ProductOutcomeEventCount ProductOutcomeTotalAmount
0             2458.009448                        1                 72.913619
1             2458.009448                        1                  7.677938
2             2458.009448                        1                149.270047
3             2458.009448                        1                359.589136
4             2458.009448                        1                454.105277

[5 rows x 33 columns]

In [96]:
print(df.isnull().sum())

UserID                       0
SessionID                    0
Timestamp                    0
EventType                    0
ProductID                    0
Amount                       0
Outcome                      0
Year                         0
Month                        0
Day                          0
Hour                         0
Minute                       0
Second                       0
DayOfWeek                    0
IsWeekend                    0
SessionEventCount            0
SessionTotalAmount           0
SessionAvgAmountPerEvent     0
SessionStartTime             0
SessionEndTime               0
SessionDuration              0
ProductEventCount            0
ProductTotalAmount           0
ProductAvgAmountPerEvent     0
UserEventTypeCount           0
EventTypeTotalAmount         0
OutcomeTotalAmount           0
OutcomeAvgAmount             0
OutcomeEventCount            0
UserOutcomeSessionCount      0
UserOutcomeTotalAmount       0
ProductOutcomeEventCount     0
ProductOutcomeTotalAmount    0
dtype: int64

In [12]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, LabelEncoder

# Load the CSV file
df = pd.read_csv('E-commerce_Clickstream_and_Transaction/feature_engineered_data.csv')

# Normalize numerical columns
scaler = MinMaxScaler()
columns_to_normalize = ['Amount', 'SessionTotalAmount', 'SessionAvgAmountPerEvent', 'SessionDuration',
                         'ProductTotalAmount', 'ProductAvgAmountPerEvent', 'EventTypeTotalAmount',
                         'OutcomeTotalAmount', 'OutcomeAvgAmount', 'UserOutcomeTotalAmount', 'ProductOutcomeTotalAmount']
df[columns_to_normalize] = scaler.fit_transform(df[columns_to_normalize])

# Encode categorical columns
le = LabelEncoder()
categorical_columns = ['EventType', 'Outcome', 'DayOfWeek', 'IsWeekend']
for col in categorical_columns:
    df[col] = le.fit_transform(df[col])

# Create new feature
peak_hours = [8, 9, 17, 18]
df['is_peak_hour'] = df['Hour'].apply(lambda x: 1 if x in peak_hours else 0)

# Save the transformed data
df.to_csv('E-commerce_Clickstream_and_Transaction/transformed_data.csv', index=False)

In [18]:
import pandas as pd
from ydata_profiling import ProfileReport

df = pd.read_csv('E-commerce_Clickstream_and_Transaction/transformed_data.csv')

profile = ProfileReport(df, title="E-commerce Clickstream and Transaction", explorative=True)

profile.to_file("E-commerce_Clickstream_and_Transaction/E-commerce Clickstream and Transaction.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [19]:
df = pd.read_csv('E-commerce_Clickstream_and_Transaction/transformed_data.csv')
df.to_excel('E-commerce_Clickstream_and_Transaction/transformed_data.xlsx')